﻿body {
    background-color: Window;
}

.tblRow, .tblColumn {
    font-size: 12px;
    border: 1px inset;
    text-align: center;
    padding: 3px;
}

.tblStyle {
    border: 1px inset;
    text-align: center;
    min-width: 80px;
    background-color: white;
    font-family: Calibri;
}


.tblHearerCell {
    border: 1px inset;
    text-align: center;
    min-width: 80px;
    background-color: #F2A53C;
    font-size: 16px;
    padding: 5px;
}

.tblHearerRow {
    height: 30px;
}

.btnStyle {
    color: black;
    border-radius: 4px;
}

select {
    width: 180px;
}

.pageHeader {
    margin-left: 300px;
    margin-top: 100px;
}
