﻿@model IEnumerable<BusinessObjects.MuseumDTO>

<h2>Museum List</h2>
<p>
    @Html.ActionLink("Create New Museum", "Create")
</p>

<table id="tbltraining" class="tblStyle">
    <tr class="tblHearerRow">
        <th class="tblHearerCell">
            MuseumID
        </th>
        <th class="tblHearerCell">
            Email
        </th>
        <th class="tblHearerCell">
            Billing Address
        </th>
        <th class="tblHearerCell">
            Shipping Adress
        </th>
        <th class="tblHearerCell">
            Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="tblRow">
            <td class="tblColumn">
                @Html.DisplayFor(modelItem => item.MuseumID)
            </td>
            <td id="trainerCell" class="tblColumn">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="tblColumn">
                @Html.DisplayFor(modelItem => item.BillingAddress)
            </td>
            <td class="tblColumn">
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td class="tblColumn">
                <input type="button" value="Delete" class="buttonDelete btnStyle" />
            </td>
        </tr>
    }

    @{
        if (Model.Count() == 0)
        {
            <tr>
                <td class="tblColumn" colspan="5">
                   There is no Record.
                </td>
            </tr>
        }
    }

</table>


@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/appjs/Index.js")"></script>
}